*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.site-header{
    width:100%;
    height: 100vh;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    clip-path: polygon(0% 0%,100% 0%, 100% 85%,0% 100%);
}
nav{
    width: 100%;
    height: 100px;
    color:white;
    display: flex;
}
.logo{
    width:50%;
    height:100px;

}
.logo h1{
    line-height: 100px;
    padding-left: 40px;
}
.menu{
    width:50%;
    height: 100px;
    
}
.menu ul{
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.menu ul li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
section{
    display: flex;

}
.left{
    width:45%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;

}
.left img{
    width:600px;
    height: 500px;
}
.right{
    width:55%;
    height:300px;
    color:white;
    text-align: center;
    margin-top: 80px;
    padding:40px;
}
.right h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.right p{
    font-size: 1.1rem;
    padding:30px 0;
}
.right button{
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    border-radius: 5px;
    padding: 15px 30px;

}
.right button:hover{
    background: linear-gradient(57deg, #1e4d92,  #00c6a7);
}
